.activity-container {
    width: 1000px;
    height: fit-content;
    margin: auto;
    background: white;
    color: black;
    display: flex;
    flex-direction: row;
}

.main-container {
    align-items: center;
    width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.side-container {
    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.inner-main {
    min-height: 350px;
    width: 600px;
    margin: 20px auto;
    background-color: rgb(227, 227, 255);
    border-radius: 5px;
    border: black solid;
}
.inner-side {
    height: 300px;
    margin: 20px 0;
    background-color: rgb(255, 231, 231);
    border-radius: 5px;
}

.song-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.song {
    width: 120px;
    height: 120px;
    padding: 5px;
    background: grey;
}

.see-more {
    float: right;
}
