.activity-container {
    width: 1000px;
    height: fit-content;
    margin: auto;
    background: white;
    color: black;
    display: flex;
    flex-direction: row;
}

.main-container {
    align-items: center;
    width: 73%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.side-container {
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-left: rgb(224, 224, 224) solid thin;
    padding-left: 20px;
}

.inner-main {
    min-height: 350px;
    width: 600px;
    margin: 10px;
    border-bottom: rgb(224, 224, 224) solid thin;
}


.inner-side {
    /* height: 300px; */
    margin: 20px 0;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: rgb(224, 224, 224) solid thin;
}

.icon {
    padding-top: 1em;
    transform: scale(4);
}

.see-more {
    float: right;
}
