footer {
    background-color: black;
    color: white;
    font-size: 200%;
    height: fit-content;
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
}

.a-tag {
    color: white;
    text-decoration: none;
}
