.singlePlaylist {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playlist-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.playlist-songs {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: rgb(224, 224, 224) solid thin;
}

.playlist-songs:nth-last-child(1) {
    border-bottom: none;
}

.playlist-image {
    width: 100px;
    height: 100px;
    min-width: 100px;
    object-fit:cover;
    cursor: pointer;
}

.song-info {
    text-decoration: none;
    color: black;
}

.song-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    align-items: flex-end;
    justify-content: flex-end;
}

.info {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 10px;
}

.info div {
    margin: -8px 2px;
}

.info div:nth-child(1):hover, .info div:nth-child(2):hover {
    cursor: pointer;
    color:#f50;
}

.info div:nth-child(1) {
    color:rgb(63, 63, 63)
}

.info div:nth-child(2) {
    font-weight: 700;
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    margin-right: 5px;
    /* color: rgb(109, 109, 109); */
}

.icons i:nth-child(2) {
    margin-left: 5px;
}
