.username-dropdown {
    color: white;
    height: 100%;
    cursor: pointer;
}

.username:hover {
    cursor: pointer;
    color: rgb(148, 148, 148);
}

.playlist-dropdown {
    background: rgb(255, 255, 255);
    width: fit-content;
    position: absolute;
    list-style: none;
    text-align: start;
    border: black solid thin;
}

.playlist-dropdown li {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin:0;
    padding: 0 10px;
    align-items: baseline;
    cursor: pointer;
}
.playlist-dropdown li:hover {
    background-color: #f50;
}

.dropdown-item {
    color: black;
}

.inner-drop {
    color: black;
    text-decoration: none;
    margin-left: 1em;
}
