.username-dropdown {
    color: white;
    height: 100%;
    cursor: pointer;
}

.username:hover {
    cursor: pointer;
    color: rgb(148, 148, 148);
}

.profile-dropdown {
    background: rgb(255, 255, 255);
    width: fit-content;
    position: absolute;
    list-style: none;
    text-align: start;
    padding: 1em;
    border-radius: 5px;
    border: black solid;
}

.profile-dropdown li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.profile-dropdown li:hover {
    background-color: rgb(173, 199, 255);
}

.dropdown-item {
    color: black;
}

.inner-drop {
    color: black;
    text-decoration: none;
    margin-left: 1em;
}
