.userpage-container {
    width: 1000px;
    background: white;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.music-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-songs {
    width: 35%;
    text-align: center;
}
