
.audio-player {
    display: flex;
    flex-direction: row;
    background: rgb(196, 196, 196);
    /* background: #3b3b3b; */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1%;
    padding: 1%;
    align-items: center;
    text-align: center;
    color: black;
}

.audio-player h4 {
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.details-title,
.details-artist {
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.player-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.player-controls {
    text-align: center;
}
