.image-container {
    width: 70vw;
    padding-top: 10vh;
    border-radius: 5px;
}

.text-container {
    width: 400px;
    background-color: white;
    text-align: center;
    position: fixed;
    left: 60vw;
    top: 30vh;
    border-radius: 5px;
}

button {
    display: inline-block;
    padding: 0.1em 1em;
    margin: 0.5em;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    color: #ffffff;
    background-image: linear-gradient(144deg, #a00e0e, #0003c2 50%, #008d2f);
    text-align: center;
    position: relative;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(144deg, #0003c2, #008d2f 50%, #a00e0e);
}
