.image-container {
    width: 70vw;
    margin-top: 10vh;
    border-radius: 5px;
    border: black solid;
}

.text-container {
    width: 400px;
    background-color: white;
    text-align: center;
    position: fixed;
    left: 60vw;
    top: 30vh;
    border-radius: 5px;
    border: black solid;
}

button {
    display: inline-block;
    padding: 0.1em 1em;
    margin: 0.5em;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
    color: #ffffff;
    background: #3b3b3b;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background: #535353;
}
