.singleSong {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 0;
}

.song-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.song-image {
    width: 300px;
    height: 300px;
    text-align: center;
    margin-left: 5%;
}

.song-info {
    width: 70%;
    text-align: center;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
