.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    background: rgb(0, 0, 0);
}

.navbar-logo {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    height: 18vh;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
}

.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 2rem;
}

.home-container {
    margin: auto 0;
    justify-content: center;
    align-items: center;
}
.home-link,
.upload {
    margin: auto 0.5rem;
    margin-right: 1rem;
}
.home-link,
.upload-navlink {
    color: white;
    text-decoration: none;
}
.search-bar {
    color: white;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 37vw;
}

.search-input {
    border-radius: 15px;
    width: 30vw;
    padding: 0 1rem;
}

.search-btn {
    background: none;
    padding: 0px;
    border: none;
    color: white;
}

.search-btn:hover {
    background: none;
    color: rgb(148, 148, 148);
    cursor: pointer;
    right: 20px;
}

.drop-li {
    margin: auto 0;
    justify-content: center;
    align-items: center;
}

#bars {
    height: 30px;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.bar {
    background: #666;
    display: block;
    position: relative;
    height: 100%;
    width: 4px;
    margin: 0 3px;
    border-radius: 5px;
    animation: soundBars 0ms -800ms linear infinite alternate;
}

@keyframes soundBars {
    0% {
        opacity: 0.35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.bar:nth-child(1) {
    animation-duration: 474ms;
    background: red;
}
.bar:nth-child(2) {
    animation-duration: 407ms;
    background: orange;
}
.bar:nth-child(3) {
    animation-duration: 458ms;
    background: yellow;
}
.bar:nth-child(4) {
    animation-duration: 427ms;
    background: green;
}
.bar:nth-child(5) {
    animation-duration: 441ms;
    background: aqua;
}
.bar:nth-child(6) {
    animation-duration: 419ms;
    background: blue;
}
.bar:nth-child(7) {
    animation-duration: 487ms;
    background: blueviolet;
}
.bar:nth-child(8) {
    animation-duration: 442ms;
    background: rgb(128, 0, 28);
}
