.username-dropdown {
    color: white;
    height: 100%;
    cursor: pointer;
}

.username-dropdown:hover {
    cursor: pointer;
    color:#f50;
}

.profile-dropdown {
    /* color: white; */
    background: rgb(255, 255, 255);
    width: 8rem;
    position: absolute;
    list-style: none;
    text-align: start;
    border: black solid thin;
}

.profile-dropdown li {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin:0;
    padding-left: 10px;
    align-items: baseline;
    cursor: pointer;
}
.profile-dropdown li:hover {
    background-color: #f50;
}

.dropdown-item {
    color: black;
}

.dropdown-item i {
    padding-right: 20px;;
}

.inner-drop {
    color: black;
    text-decoration: none;
    /* margin-left: 1em; */
}
