.image {
    width: 150px;
    height: 150px;
}

.image:hover {
    cursor: pointer;
}

.song-details {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;

}

.title,
.username {
    color: black;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.title {
    font-weight: bold;
    font-size: 16px;
}

.title:hover {
    cursor: pointer;
    color:rgb(158, 158, 158)
}

.likes {
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.likes i {
    margin-right: 5px;
}

.username {
    margin-top: -10px;
}
